.header {
  width: 100%;

  padding: 4rem 4rem 2rem 4rem;
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2rem;
  background-image: linear-gradient(160deg, var(--brand-pink) 40%, var(--brand-yellow) 90%);
}

.page {
  padding: 0 4rem 4rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
