.card {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "info charts";
  padding: 1rem;
  gap: 1rem;
  border-radius: 0.5rem;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  transition: all 0.2s ease-in-out;
  align-items: flex-start;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.rank {
  background: linear-gradient(160deg, var(--brand-pink) 40%, var(--brand-yellow) 90%);
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  font-weight: bold;
  font-size: 1.2rem;
}
.rank::before {
  content: "#";
}

.info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.charts {
  grid-area: charts;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.skeleton {
  display: grid;
  height: 227px;
  gap: 0.5rem;
  padding: 1rem;
  grid-template-columns: 50px 200px 50px repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr) 3fr;
  grid-template-areas:
    "rank name name . . . ."
    "info1 info1 . chart1 chart2 chart3 chart4"
    "info2 info2 . chart1 chart2 chart3 chart4"
    "info3 info3 . chart1 chart2 chart3 chart4"
    ".     .     . chart1 chart2 chart3 chart4";
}

.s_rank {
  grid-area: rank;
}

.s_name {
  grid-area: name;
}

.s_info1 {
  grid-area: info1;
}

.s_info2 {
  grid-area: info2;
}

.s_info3 {
  grid-area: info3;
}

.s_chart1 {
  grid-area: chart1;
}

.s_chart2 {
  grid-area: chart2;
}

.s_chart3 {
  grid-area: chart3;
}

.s_chart4 {
  grid-area: chart4;
}
