@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");

:root {
  --text-light: #999;
  --text-dark: #18181b;

  --separator-color: #e5e5e5;

  --success: #11993c;
  --danger: #d22020;

  --brand-pink: #ee4e95;
  --brand-yellow: #fcc301;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--text-dark);
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

#root {
  display: grid;
  grid-template-columns: 270px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "side main"
    "side main";
  height: 100vh;
}
