@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;500;800&display=swap");

:root {
  --text-light: #999;
  --text-dark: #18181b;

  --separator-color: #e5e5e5;

  --success: #11993c;
  --danger: #d22020;

  /* #ee4e95 */
  --brand-pink-rgb: 238, 78, 149;
  --brand-pink: rgb(var(--brand-pink-rgb));

  /* #fcc301 */
  --brand-yellow-rgb: 252, 195, 1;
  --brand-yellow: rgb(var(--brand-yellow-rgb));

  --breakpoint-xs: 576px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 992px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--text-dark);
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
