.header {
  padding: var(--padding-content);
  position: relative;
  display: flex;
  align-items: center;
}

.title {
  padding: 0 2rem;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1rem;
  right: 1rem;
  height: 1px;
  background-color: var(--separator-color);
}
